# Clerk configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=..................
CLERK_SECRET_KEY=........................

# Clerk - Custom Auth
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Supabase configuration

NEXT_PUBLIC_SUPABASE_URL=.................
NEXT_PUBLIC_SUPABASE_ANON_KEY=................

# Vapi 
NEXT_PUBLIC_VAPI_WEB_TOKEN=...........


 #sentry
 SENTRY_AUTH_TOKEN=...........